@mixin no-scrollbar{
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}
@mixin text-preview{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
